<nav>
    <div class = "navigation">
        <a class = "btn btn-secondary" type = "button" href = "/">Home</a>
        <div class = "dropdown" style="float:right">
            <button class = "btn btn-secondary dropdown-toggle" type = "button" data-bs-toggle = "dropdown" aria-expanded = "false">
              Languages
            </button>
            <ul class="dropdown-menu">
              <li><a class = "dropdown-item" href = "/lang/en">English</a></li>
              <li><a class = "dropdown-item" href = "/lang/ne">Nepali (नेपाली)</a></li>
              <li><a class = "dropdown-item" href = "/lang/ur">Urdu (اردو)</a></li>
              <li><a class = "dropdown-item" href = "/lang/fil">Tagalog</a></li>
            </ul>
          </div>
    </div>
</nav>